/** 文字相关 */
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.text_ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
}

/** 图片相关 */
.image_container {
	overflow: hidden;
	width: 100%;
	position: relative;  
	height: 0;   /* 高度设置为0，使用padding来设置高度 */
	padding-bottom: 60%;   /* 宽高比 */
}

.image_box {
	position: absolute;  /* 使用绝对定位 */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/** 阴影相关 */
.shadow_box {
	-webkit-box-shadow: 12rpx 12rpx 12rpx #DCDCDC;
	-moz-box-shadow: 12rpx 12rpx 12rpx #DCDCDC;
	box-shadow: 12rpx 12rpx 12rpx #DCDCDC;
}

.shadow_text {
	--webkit-text-shadow: 0 0 6rpx #DCDCDC;
	-moz-text-shadow: 0 0 6rpx #DCDCDC;
	text-shadow: 0 0 6rpx #DCDCDC;
}

/** 颜色相关 */
.default_bg_color {
	background: rgb(91,180,180,0.6);
}