
.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

/* 显示两行，溢出文字用‘...’替换 */

.ellipsis-1row {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.ellipsis-2row {
	text-overflow: ellipsis;
	display: -webkit-box;
	display: box;
	box-decoration-break: ;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	/* box-orient: vertical;
	height: 3em;
	line-height: 1.5; */
	overflow: hidden;
}

.ellipsis-3row {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
